[user]
    name = e23
    email = kissofjudase23@gmail.com
[core]
    # let git uses the editor set by $EDITOR or $VISUAL
    # editor = vim

    # checkout as-is, commit unix style format
    autocrlf = input
    # checkou as-is, commit as-is 
    #autocrlf = false
[color]
    ui = true
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    pager = true
[alias]
    df = diff
    co = checkout
    ci = commit
    st = status
    br = branch
    d = difftool
    mg = merge --no-ff
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[merge]
    tool = vimdiff
[branch  "master"]
    # mergeoptions = --no-ff
[branch  "develop"]
    # mergeoptions = --no-ff

