[user]
    name = e23
    email = kissofjudase23@gmail.com
[core]
    editor = vim
    # checkout as-is, commit unix style format
    autocrlf = input
    # checkou as-is, commit as-is 
    #autocrlf = false
[color]
    ui = true
[alias]
    df = diff
    co = checkout
    ci = commit
    st = status
    br = branch
    d = difftool
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[branch  "master"]
    # mergeoptions = --no-ff
[branch  "develop"]
    # mergeoptions = --no-ff

